{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <h1>AirBnB</h1>
    <p class="home-description">
        Персональний менеджер житла: переглядайте користувачів, керуйте житлом, бронюваннями та платежами швидко і зручно.
    </p>
    <div class="home-buttons">
        <a href="/users" class="btn">Users</a>
        <a href="/housing" class="btn">Housing</a>
        <a href="/bookings" class="btn">Bookings</a>
        <a href="/payments" class="btn">Payments</a>
    </div>
</div>
{% endblock %}