{% extends 'base.html' %}
{% block content %}

<h2>Users</h2>

<button class="add-btn" onclick="openModal('addUserModal')">+ Add User</button>

<table>
<tr>
<th>Name</th>
<th>Email</th>
<th>Password</th>
<th>Actions</th>
</tr>

{% for u in users %}
<tr>
<td>{{u.name}}</td>
<td>{{u.email}}</td>
<td>{{u.password}}</td>
<td>
    <button class="edit-btn" onclick="openModal('editUser{{ u.user_id }}')">Edit</button>
    <a href="/delete_user/{{ u.user_id }}" onclick="return confirmDelete()">
        <button class="delete-btn">Delete</button>
    </a>
</td>
</tr>

<div id="editUser{{u.user_id}}" class="modal">
<div class="modal-content">
<span class="close" onclick="closeModal('editUser{{u.user_id}}')">&times;</span>
<h3>Edit User</h3>

<form method="POST" action="/edit_user/{{u.user_id}}">
<input name="name" value="{{u.name}}" placeholder="Name">
<input name="email" value="{{u.email}}" placeholder="Email">
<input name="password" value="{{u.password}}" placeholder="Password">
<button class="edit-btn">Save</button>
</form>

</div>
</div>

{% endfor %}
</table>

<div id="addUserModal" class="modal">
<div class="modal-content">
<span class="close" onclick="closeModal('addUserModal')">&times;</span>
<h3>Add User</h3>

<form method="POST" action="/add_user">
<input name="name" placeholder="Name">
<input name="email" placeholder="Email">
<input name="password" placeholder="Password">
<button class="add-btn">Add</button>
</form>

</div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}